!/pubspec.yaml
!/pubspec.lock
/.idea/
/build/
/.dart_tool/
/assets/translations/
.DS_Store
/.flutter-plugins-dependencies
/linux/
/docs/*
!/docs/ios-testflight-ci.md
/screenshots/
*.p8
*.p12
*.mobileprovision
*.mobileprovision.base64.txt
*.p12.base64.txt
